CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_mikrotik=y
CONFIG_TARGET_ar71xx_mikrotik_DefaultNoWifi=y
CONFIG_PACKAGE_kmod-ath5k=m
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_ath10k-firmware-qca9887=m
CONFIG_PACKAGE_ath10k-firmware-qca988x=m
CONFIG_SSP_SUPPORT=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
CONFIG_PACKAGE_kmod-ledtrig-gpio=m
CONFIG_PACKAGE_rbcfg=m
