CONFIG_TARGET_mvebu=y
CONFIG_TARGET_BOARD="mvebu"
CONFIG_TARGET_SUBTARGET="cortexa9"
CONFIG_TARGET_mvebu_DEVICE_turris-omnia=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_ROOTFS_PARTSIZE=256
CONFIG_PACKAGE_ath10k-firmware-qca988x=m
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-i2c-core=m
CONFIG_PACKAGE_kmod-mmc=m
CONFIG_PACKAGE_kmod-usb3=m
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=m
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_firewall=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_kmod-ipt-conntrack=m
CONFIG_PACKAGE_kmod-ipt-core=m
CONFIG_PACKAGE_kmod-ipt-nat=m
CONFIG_PACKAGE_kmod-nf-conntrack=m
CONFIG_PACKAGE_kmod-nf-conntrack6=m
CONFIG_PACKAGE_kmod-nf-ipt=m
CONFIG_PACKAGE_kmod-nf-ipt6=m
CONFIG_PACKAGE_kmod-nf-nat=m
CONFIG_PACKAGE_kmod-nf-reject=m
CONFIG_PACKAGE_kmod-nf-reject6=m
CONFIG_PACKAGE_libip4tc=m
CONFIG_PACKAGE_libip6tc=m
CONFIG_PACKAGE_libxtables=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_iptables=m
#CONFIG_PACKAGE_kmod-fs-nfs=m
#CONFIG_PACKAGE_kmod-fs-nfs-common=m
#CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=m
#CONFIG_PACKAGE_kmod-fs-nfs-v3=m
#CONFIG_PACKAGE_kmod-fs-nfs-v4=m
#CONFIG_PACKAGE_kmod-fs-nfsd=m
#CONFIG_PACKAGE_nfs-kernel-server=m
#CONFIG_PACKAGE_nfs-utils=m
